$primary:   rgba(#000000, 0.5);
$secondary: rgba(#2B2B2B, 0.5);
$fill:      rgba(#ccc, 0.5);

html, body {
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	box-shadow: none;
	border-width: 0;
	padding: 0;
	margin: 0;
}

.stat {
	position: absolute;
	padding: 0 10px;
	
	&, label {
		$labelFontSize: 28px;
		color: $secondary;
		font-size: $labelFontSize;
		font-weight: 500;
		line-height: $labelFontSize;
		padding-right: 12px;
		background-color: rgba(0,0,0,0);
	}
	
	input {
		$inputFontSize: 36px;
		width: 68px;
		color: $primary;
		font-size: $inputFontSize;
		font-weight: 800;
		line-height: $inputFontSize;
		text-align: center;
		text-shadow:
			-1px -1px 0 rgba(255,255,255,0.5),
			 1px -1px 0 rgba(255,255,255,0.5),
			-1px  1px 0 rgba(255,255,255,0.5),
			 1px  1px 0 rgba(255,255,255,0.5);
		background-color: rgba(0,0,0,0);

		&:hover {
			box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
		}
		&:focus {
			box-shadow: inset 0px 0px 2px rgba(0, 0, 128, 0.25);
		}
	}
}

.card-container {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
}
.card {
	position: absolute;
	width: 1050px;
	height: 750px;
	border-color: $secondary;
	border-width: 20px;
	border-style: solid;
	background-image: url(./template.jpg);
}


.unit {
	@extend .stat;
	top: 20px;
	left: 24px;
	input {
		width: 840px;
		font-size: 80px;
		line-height: 80px;
		text-align: left;
		font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
		transform: scaleX(0.85);
		transform-origin: left top;
	}
}

.variant {
	@extend .stat;
	top: 125px;
	left: 24px;
	input {
		width: 700px;
		font-size: 32px;
		font-weight: 200;
		line-height: 32px;
		text-align: left;
		text-shadow: none;
		font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
	}
}

.pv {
	@extend .stat;
	top: 16px;
	left: 820px;
	label {
		font-size: 42px;
	}
	input {
		width: 90px;
		font-size: 52px;
	}
}

.group {
	@extend .stat;
	width: 609px;
	left: 37px;
	background-color: $fill;
	border-radius: 16px;
	border-color: $secondary;
	border-width: 2px;
	border-style: solid;
	padding-bottom: 3px;
	
	& > div {
		height: 28px;
	}
}


.stat-group {
	@extend .group;
	top: 169px;
}
.tp, .sz, .tmm, .mv, .role, .skill {
	display: inline-block;
}
.sz {
	input {
		width: 40px
	}
}
.tmm {
	input {
		width: 74px;
	}
}
.mv {
	input {
		width: 118px;
	}
}
.role {
	input {
		width: 254px;
		text-align: left;
	}
}


.attack-group {
	@extend .group;
	top: 267px;
	padding-top: 12px;
}
.damage {
	position: absolute;
	top: 30px;
	left: -15px;
	transform: rotate(-90deg);
	font-size: 15px;
}
.short, .medium, .long {
	display: inline-block;
	margin-left: 85px;
	label, input {
		display: block;
		width: 100px;
		text-align: center;
	}

}
.short {
	margin-left: 55px;
}

.heat-group {
	@extend .group;
	top: 371px;
	padding-top: 3px;
	padding-bottom: 3px;
	ul {
		display: inline-block;
		margin: 0;
		margin-left: 54px;
		list-style: none;
		font-size: 0;

		li {
			position: relative;
			top: -4px;
			display: inline-block;
			background-color: #888;
			width: 54px;
			font-size: 24px;
			line-height: 36px;
			text-align: center;
			color: #fff;
			border-color: $primary;
			border-width: 2px;
			border-style: solid;
			margin-left: -2px;

		}
		li:first-child {
			border-top-left-radius: 12px;
			border-bottom-left-radius: 12px;
		}

		li:last-child {
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
		}
	}
}
.ov {
	display: inline-block;
	input {
		width: 40px;
	}
	margin-right: 14px;
}

.structure-group {
	@extend .group;
	top: 442px;
	width: 533px;
	height: 80px;
}
.pip-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	position: absolute;
	width: 100px;
	height: 76px !important;
	padding-left: 28px;
	font-size: 24px;
	line-height: 24px;

	label {
		position: absolute;
		top: 23px;
		left: 0px;
		cursor: pointer;
	}
	.pip {
		position: relative;
		display: inline-block;
		flex: 0 0 auto;
		width: 21px;
		height: 21px;
		top: -2px;
		margin: 0;
		line-height: 21px;
		border-color: $primary;
		border-width: 2px;
		border-style: solid;
		border-radius: 10px;
		cursor: pointer;
	}
	.pip:nth-child(5n+2) {
		margin-right: 4px;
	}
}
.structure {
	@extend .pip-group;
	left: 8px;
	top: 0px;
	width: 152px;
	.pip {
		background-color: #bbb;
	}
}
.armor{
	@extend .pip-group;
	left: 164px;
	top: 0px;
	width: 364px;
	.pip {
		background-color: #fff;
	}
}


.special-group {
	@extend .group;
	top: 537px;
	width: 533px;
	height: 84px;
	label, input {
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		text-shadow: none;
		text-align: left;
	}
	input {
		width: 390px;
		height: 80px;
	}
}