$primary:   #000000;
$secondary: #2B2B2B;

html, body {
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	box-shadow: none;
	border-width: 0;
	padding: 0;
	margin: 0;
}

.stat {
	position: absolute;
	padding: 0 10px;
	background-color: rgba(255,0,0,0.1); // DEBUG
	
	&, label {
		color: $secondary;
		font-size: 24px;
		font-weight: 500;
		padding-right: 8px;
		background-color: rgba(0,0,0,0);
	}
	label {
		background-color: rgba(0,0,255,0.1); // DEBUG
	}
	
	input {
		width: 50px;
		color: $primary;
		font-size: 30px;
		font-weight: 800;
		text-align: center;
		text-shadow:
			-1px -1px 0 rgba(255,255,255,0.5),
			 1px -1px 0 rgba(255,255,255,0.5),
			-1px  1px 0 rgba(255,255,255,0.5),
			 1px  1px 0 rgba(255,255,255,0.5);
		background-color: rgba(0,0,0,0);
		background-color: rgba(0,255,0,0.1); // DEBUG

		&:hover {
			box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
		}
		&:focus {
			box-shadow: inset 0px 0px 2px rgba(0, 0, 128, 0.25);
		}
	}
}

.card-container {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	background-color: pink;
}
.card {
	position: absolute;
	width: 1050px;
	height: 750px;
	border-color: $secondary;
	border-width: 20px;
	border-style: solid;
	background-color: rgba(0,0,255,0.2);
}

.data-entry {
	@extend .stat;
	display: none;
	padding: 0;
	z-index: 999;
	input {
		background: rgba(230,230,255,1);
	}
}

.unit {
	@extend .stat;
	top: 20px;
	left: 20px;
	input {
		width: 700px;
		font-size: 48px;
		line-height: 48px;
		text-align: left;
	}
}

.variant {
	@extend .stat;
	top: 79px;
	left: 20px;
	input {
		width: 700px;
		font-size: 20px;
		font-weight: 200;
		text-align: left;
		text-shadow: none;
	}
}

.pv {
	@extend .stat;
	top: 20px;
	right: 20px;
}

.group {
	@extend .stat;
	width: 575px;
	background-color: #ccc;
	border-radius: 12px;
	border-color: $secondary;
	border-width: 2px;
	border-style: solid;
}
.stat-group {
	@extend .group;
	top: 108px;
	left: 28px;
}

.tp, .sz, .tmm, .mv, .role, .skill {
	display: inline-block;
}
.tmm, .mv {
	input {
		width: 110px;
	}
}
.role {
	input {
		width: 254px;
		text-align: left;
	}
}


.attack-group {
	@extend .group;
	top: 210px;
	left: 28px;
}
.damage {
	position: absolute;
	top: 30px;
	left: -15px;
	transform: rotate(-90deg);
}
.short, .medium, .long {
	display: inline-block;
	margin-left: 40px;
	label, input {
		display: block;
		width: 100px;
		text-align: center;
	}

}


.heat-group {
	@extend .group;
	top: 312px;
	left: 28px;
	ul {
		display: inline-block;
		list-style: none;
		color: #fff;
		background-color: $primary;
		border-radius: 12px;
		border-color: $primary;
		border-width: 2px;
		border-style: solid;

		li {
			display: inline-block;
			background-color: #888;
			width: 1.75em;
			text-align: center;
		}
	}
}
.ov {
	display: inline-block;
}